<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs')%> <%- include('./partials/navbar.ejs')%>
  <div class="container">
    <div class="row mt-5">
      <h1>home page</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur animi
        asperiores suscipit, quisquam provident magnam est culpa distinctio
        rerum fugit?
      </p>
    </div>
  </div>
  <%- include('./partials/footer.ejs')%>
</html>
